p {
    color: Red ;
}

style{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTITj9gV8YRUt7kQXgEG-W2FINARGntSa3AAAdYFtW3Wxma6q2Nmw;)
    background-size:cover;
    background-position:relative
}